@tailwind base;
@tailwind components;
@tailwind utilities;


.innerHero {
  background-image: url(./assets/herobg.png);
  background-size: cover;
  background-position: center;
}

.gradient-border-box {
  border: 1px solid; 
  border-image: linear-gradient(to right, #8c61ef, #3DC6EE);
  border-image-slice: 1; 
  border-radius: 15px;
  box-sizing: border-box;
}
.gradient-border-box2 {
  border: 1px solid; 
  border-image: linear-gradient(to right, #8c61ef, #3DC6EE);
  border-image-slice: 1; 
  border-radius: 15px;
  box-sizing: border-box;
}

.token {
  border: none; 
}

@media screen and (max-width: 768px) {
  .token {
    border: 1px solid; 
    border-image: linear-gradient(to right, #8c61ef, #3DC6EE);
    border-image-slice: 1; 
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
  }
  .gradient-border-box2{
    border: none;
    padding: 20px 0;
  }
}
