@tailwind base;
@tailwind components;
@tailwind utilities;


.innerHero {
  background-image: url(./assets/herobg.png);
  background-size: cover;
  background-position: center;
}

.gradient-border-box {
  border: 1px solid; 
  border-image: linear-gradient(to right, #8c61ef, #3DC6EE);
  border-image-slice: 1; 
  border-radius: 15px; /* Set the desired border radius */
  box-sizing: border-box; /* Ensure padding and border are included in the box size */
}